@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #141414;
  /* overflow: hidden; */
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

.shadow-special{
  box-shadow: 0px 0px 10px rgba(247, 246, 246, 0.116);
}